/* Main page */

h1 {
  margin: 30px 20px;
  margin-bottom: 15px;
}

.h1_fetch {
  font-size: 15px;
  font-weight: 300;
}

.terminal_decoration {
  margin-left: 20px;
  display: flex;
  align-items: flex-end;
  font-weight: 300;
  opacity: 0.9;
  font-size: 14px;
  color: var(--deorationColor);
  margin-bottom: 20px;
}

.terminal_decoration--dot {
  width: 5px;
  height: 5px;
  background-color: var(--deorationColor);
  animation-name: example;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  margin-left: 2px;
}


@keyframes example {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}