.container-app {
  max-width: 700px;
  margin: 30px auto;
}

.container-MainPage {
  background-image: url(assets/patternpad.svg);
  background-size: auto;
  background-position: center;
}



.social-links {
  display: flex;
  justify-content: start;
  height: 35px;
  margin-top: 20px;
  margin-left: 20px;
}

.social-links img {
  height: 100%;
  margin-right: 15px;
  opacity: .6;
}