@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@100;300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');


@import url(roots.css);

* {
  /* font-family: 'Readex Pro'; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background: #1A1A1A; */
  background: #262626;
  color: var(--mainTextColor);
}

h1 {
  margin: 30px 52px;
  margin-bottom: 0px;
  font-size: 26px;
  font-weight: 500;
  font-weight: 400;
}

.api {
  font-size: 15px;
  color: #777674;
}

.main_title {
  display: inline-block;
  background-color: black;
  padding: 5px 10px;
  border: 1px solid rgb(77, 74, 74);
  font-size: 17px;
  border-radius: 2px;
  margin-left: 30px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-left: 52px;
}

.article_box {
  line-height: 1.6;
}


h1 a {
  text-decoration: none;
  color: var(--mainTextColor);
}

.h1_fetch {
  font-size: 15px;
  font-weight: 300;
}

h2,
h3 {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 20px;
  /* color: #83aed2; */
  color: #969693;
}

h2 {
  margin-left: 33px;
}

h3 {
  margin-left: 20px;
}


.article-text {
  margin: 0 30px 20px 52px;
  font-size: 16px;
  word-spacing: 3px;
  letter-spacing: .2px;
  color: #bec4c7;
}

.article-text--idea {
  background-color: #302e2e;
  padding: 10px;
  color: #88986b;
}

.article-text--error {
  background-color: #282727;
  padding: 10px;
  color: #C6887A;
}

.highlight-red {
  color: #bf95ba;
  font-weight: 500;
}